# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# IDE and editor settings
.idea/
.vscode/

# OS files
.DS_Store

# Environment files
.env

# Logs
*.log

# Coverage and testing
.coverage
htmlcov/

*.xml
*.iml
